.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #eee;
  font-family: aktiv-grotesk, sans-serif;  
  font-size: 3vmin;
  font-style: normal;
  font-weight: 200;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: rgba(52, 51, 51, 0.5);   
  border-radius: 2em;
  border: 1px solid grey;
  color: white;
  font-size: 14px;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin-top: 20px;
}

.btn:hover {
  background: #1DB954;
  /* background: linear-gradient(90deg, rgba(255,241,0,0.9) 0%, rgba(29,253,203,0.9) 50%, rgba(252,0,206,0.9) 100%); */
  border: none;
  color: #000;
}

.btn--login {
  margin: 0 auto;
}

/** Front Page **/

.logo {
  margin-top: 10px;
  width: 10%;
  height: 10%;
  padding-bottom: 130px;
}

.main {
  display: inline;
  margin-top: 30vh;
}

.hi {
  margin-top: 20px;
  font-size: 10px;
  color: grey;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 40px;
  }

  .logo {
    margin-top: 10px;
    width: 20%;
    height: 20%;
  }

}

@media only screen and (max-width: 250px) {
  .btn {
    font-size: 10px;
  }

  .logo {
    margin-top: 10px;
    width: 25%;
    height: 25%;
  }

  .hi {
    width: 150px; 
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-height: 500px) {
  .main {
    margin-top: 12vh;
  }
}