/** graph components **/
.header {
    margin-bottom: 0px;
    text-align: left;
}

.sorry {
    font-size: 12px;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
}

.key {
    align-items: left;
    width: 20%
}

.mobileHeading {
    display: flex;
    align-items: center;
}

.heading {
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
    position: relative;
}

.bigCanvas { 
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

.smallerCanvas { 
    width: 100%;
    margin-top: 3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 400px) {
    .header {
        font-size: 16px;
    }

}

