.songInfo {
    background-color: #000;
    color: #fff;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(52, 51, 51, 0.5);   
    border: 1px solid grey;
    border-radius: 0.5em;
    width: 180px;
}

.smallSongInfo {
    background-color: #000;
    color: #fff;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(52, 51, 51, 0.5);   
    border: 1px solid grey;
    border-radius: 0.5em;
    width: 100px;
}

.mobile {
    background-color: #000;
    color: #fff;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(52, 51, 51, 0.5);   
    border: 1px solid grey;
    border-radius: 0.5em;
    margin: auto;
    width: 16rem;
    margin-top: 2vh;
}

.container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.name { 
    margin: 5px;
    text-align: left;
    font-size: small;
    margin-bottom: 0;
    margin-right: 10px;
}

.artist { 
    margin: 5px;
    margin-top: 0;
    text-align: left;
    font-size: xx-small; 
    margin-right: 10px;
    margin-bottom: 0;
}

.left {
    text-align: left;
    width: 40%;
    font-size: 18px;
    margin-left: 10%;
}

.right {
    text-align: left;
    width: 40%;
    font-size: 18px;
}

.list {
    align-items: center;
    display: flex;
    margin-left: 0%;
    margin-bottom: 30px;
}

.top10 {
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 10%;
    text-align: left;
    font-size: 24px;
} 

.topzz {
    align-items: center;
    width: min-content; 
}

.listOfSongs {
    width: 400%;
}

.songCover {
    height: 50px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .left {
        font-size: 14px;
    }

    .right {
        font-size: 14px;
    }

    .top10 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .left {
        font-size: 3vw;
    }

    .right {
        font-size: 3vw;
    }

    .top10 {
        font-size: 4vw;
    }
}
